*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    color: #2e3032;
    line-height: normal;
    font-style: normal;
}
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
a {
    text-decoration: none;
    color: inherit;
  }
  .btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .h-reset{
    margin: 0;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  #element {
    scrollbar-width: thin;
    scrollbar-color: #444444 #f9f9fd; /* Темно-серый ползунок и светло-серый фон */
  }
  
  #element::-webkit-scrollbar {
    width: 3px; /* Ширина скролла для WebKit (Chrome, Safari) */
  }
  
  #element::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #444444; /* Цвет ползунка */
  }
  
  #element::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f9f9fd; /* Цвет фона трека */
  }
  