*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: Roboto;
    color: #2e3032;
    line-height: normal;
    font-style: normal;
}
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
a {
    text-decoration: none;
    color: inherit;
  }
  .btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .h-reset{
    margin: 0;
  }

  .flex{
    display: flex;
    align-items: center;
  }