.header {
    padding-top: 69px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}