.hero {
   height: 100vh;
   min-height: 800px;
   
   @include bg-cover;

   @include tablet{
    background-position: 65%;
   }

   & .container{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       height: 100vh;
       min-height: 800px;
    }
}

.hero *{
    color: #F4FAFF;
}

.hero__inner {

}
.hero__inner__title, .project__title {
    font-size: clamp(50px, 10vw, 71px);
    font-weight: 100;
    line-height: 1;
    padding-bottom: 48px;

    & b{
        font-weight: 300;
        line-height: 1;
    }

    & strong{
        font-weight: 700;
    }
}
.hero__inner__subtitle {
    width: 100%;
    max-width: 520px;
    color: #F4FAFF;
    font-size: clamp(16px , 4vw ,20px);
    font-weight: 300;
    line-height: 1.5;
    display: block;
    padding-bottom: 59px;

    @include small-tablet{
        max-width: none;
    }

    & b{
        display: block;
        font-weight: inherit;

       &:not(:last-child){
           @include mobile{
           display: none;
          }
       }

       @include mobile{
        .mobile__disabled{
            display: none;
        }
       }
    }
}

.hero__inner__button {
    display: block;
    max-width: clamp(180px, 31vw ,208px);
    text-align: center;
    width: 100%;
    background: #FFF;
    min-height: 54px;
    color: #2E3032;
    font-size: clamp(14px, 4vw, 15px);
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}