.hero {
   height: 100vh;
   min-height: 800px;
   
   @include bg-cover;

   & .container{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       height: 100vh;
       min-height: 800px;
    }
}

.hero *{
    color: #F4FAFF;
}

.hero__inner {

    & .embed-container{
        max-height: 300px;
    }
    
    & .embed-container iframe, & .embed-container object, & .embed-container embed {
        max-height: 300px;
    }
}
.hero__inner__title {
    font-size: 71px;
    font-weight: 100;
    line-height: 1;
    padding-bottom: 48px;

    & b{
        font-weight: 300;
        line-height: 1;
    }

    & strong{
        font-weight: 700;
    }
}
.hero__inner__subtitle {
    width: 100%;
    max-width: 520px;
    color: #F4FAFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    display: block;
    padding-bottom: 59px;
}

.hero__inner__button {
    display: block;
    max-width: 208px;
    text-align: center;
    width: 100%;
    background: #FFF;
    min-height: 54px;
    color: #2E3032;
    font-size: 15px;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}