.loveus {
    padding-top: clamp(30px, 8vw, 145px);
}

.loveus__title {}

.loveus__inner {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 105px;

    &>li{
        position: relative;
    }

    &>li::before {
        display: block;
        position: absolute;
        left: -85px;
        top: 0;
        z-index: 1;
        width: 28px;
        height: 40px;
        color: #2E3032;
        font-family: Roboto;
        font-size: 34px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }

    &>li:nth-child(1)::before{
        content:  '1';
    }
    &>li:nth-child(2)::before{
        content:  '2';
    }
    &>li:nth-child(3)::before{
        content:  '3';
    }
    &>li:nth-child(4)::before{
        content:  '4';
    }
    & li:nth-child(1) .loveus__inner__items>li{
        padding-bottom: 90px;
    }
    & li:nth-child(2) .loveus__inner__items>li{
        padding-bottom: 102px;
    }
    & li:nth-child(3) .loveus__inner__items>li{
        padding-bottom: 102px;
    }
}

.loveus__inner__title {
    font-size: 34px;
    font-weight: 200;
    padding-bottom: 31px;
}

.loveus__inner__subtitle {
    display: block;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.52;
    padding-bottom: 48px;
    width: 100%;
}

.loveus__inner__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 16.4px;
}

.loveus__inner__items_image {
    width: 100%;
    max-width: 343px;
    max-height: 343px;

    & + .loveus__inner__items__title{
        margin-top: 30px;
    }

    & img{
        width: 100%;
        height: auto;
    }
}

.loveus__inner__items__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 152.9%;
    padding-bottom: 20px;
}

.loveus__inner__items__subtitle {
    font-size: 17px;
    font-weight: 300;
    line-height: 152.9%;
}