.products {
    padding-top: clamp(40px , 9vw , 141px);

    &.second{
        padding-top: clamp(40px , 9vw , 150px);;
    }   
}
.products__title {
    padding-bottom: 100px;
}

.products__inner {
    width: 100%;
    height: 100%;
    max-width: 1158px;
    max-height: 300px;
    position: relative;

    & img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.products__inner__text {
    position: absolute;
    right: 9.58%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #FFF;
    text-align: right;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5294;
    max-width: 427px;
    display: block;
    margin-left: auto;

    &.reverse{
        max-width: 446px;
        right: unset;
        left: 9.58%;
        text-align: left;
    }
}

