.reviews {
    padding: clamp(30px, 5vw, 77px) 0;
}

.reviewes__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(483px,1fr));
    column-gap: 86px;
    padding-left: 90px;
    padding-right: 67px;
}
.reviewes__inner__title {
    display: flex;
    align-items: center;
    column-gap: 15px;

    & h2{
        font-size: 53px;
        font-weight: 100;
    }
}

.reviewes__inner__subtitle {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.52;
    padding-top: 25px;
}

.reviewes__inner__image{
    grid-column: 2;
    grid-row: 1/3;

    display: flex;
    column-gap: 35px;
    align-items: flex-end;
}