.samples {
    padding: clamp(40px, 9vw, 145px) 0;
}

.samples__inner {
    
    & .embed-container{
        max-height: 300px;
        min-width: 500px;

        @include tablet{
            max-height: none;
        }

        @include small-tablet{
            min-width: auto;
        }
        @include mobile{
            max-width: 100%;
        }
    }
    
    & .embed-container iframe, & .embed-container object, & .embed-container embed {
        max-height: 300px;
        min-width: 500px;

        @include tablet{
            max-height: none;
        }

        @include small-tablet{
            min-width: auto;
        }
        @include mobile{
            max-width: 100%;
        }
    }
}

.samples__inner__title, .project__title {
    font-size: 53px;
    font-weight: 100;
    // text-align: center;
    padding-bottom: clamp(50px, 9vw, 113px);
    
    & b, .project__title b{
        font-weight: 300;
    }

    & strong, .project__title strong {
        font-weight: 700;
    }

    @include tablet{
        font-size: 45px;
    }
}
.samples__inner__column {
    display: flex;
    flex-direction: column;
    row-gap: clamp(30px, 6vw, 114px);
}
.samples__inner__column__item {
    display: flex;
    align-items: center;
    column-gap: 126px;

    @include for-desktop{
        column-gap: 90px;
    }
    @include tablet{
        column-gap: 60px;
        flex-direction:  column-reverse;
        row-gap: clamp(30px,6vw,114px);
        align-items: flex-start;
    }
    @include small-tablet{
        column-gap: 30px;
    }
}

.samples__inner__column__item:nth-child(2){
    flex-direction: row-reverse;

    @include for-desktop{
        column-gap: 90px;
    }
    @include tablet{
        column-gap: 60px;
        flex-direction:  column-reverse;
        row-gap: clamp(30px,6vw,114px);
        align-items: flex-end;

        @include tablet{
            & .samples__inner__column__item__content__title{
                text-align: right;
            }

            & .samples__inner__column__item__content__subtitle{
                text-align: right;
            }
        }

        @include burger-header{
            & .samples__inner__column__item__content__title{
                text-align: left;
            }

            & .samples__inner__column__item__content__subtitle{
                text-align: left;
            }
        }
    }
    @include small-tablet{
        column-gap: 30px;
    }

    @include burger-header{
        align-items: flex-start;
    }
}
.samples__inner__column__item__video {
    width: 100%;
    max-width: 564px;
    max-height: 300px;

    @include tablet{
        max-height: none;
    }

    @include mobile{
        max-width: 100%;
    }
}
.samples__inner__column__item__content {
    width: 100%;
    max-width: 465px;

    @include tablet{
        max-width: none;
    }
}
.samples__inner__column__item__content__title {
    font-size: 34px;
    font-weight: 200;
    max-width: 465px;
    padding-bottom: 32px;

    @include tablet{
        max-width: none;
    }
}
.samples__inner__column__item__content__subtitle {
    font-size: 17px;
    font-weight: 300;
    display: block;
    line-height: 1.52;
}

.samples__inner__column__more {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #DEE4E9;
    padding: 18px 0;
    width: 100%;
    max-width: 213px;
    margin: 0 auto;
}